/* reset browser styles */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.2;
}
ol {
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end reset browser styles */
main {
  color: #FFF;
  font-family: Roboto;
}

main menu ul {
  list-style: none;
  position: absolute;
  top: 3%;
  right: 3%;
  text-transform: uppercase;
  line-height: 20px;
}

.header li, .science li, .approach li, .applications li, .reach_out li{
  list-style: none;
  display: inline;
  font-size: 19px;
  text-transform: uppercase;
  padding-right: 1.3em;
  margin-right: 1em;
  background-image: url(images/Vector.png);
  background-repeat: no-repeat;
  background-position: right;
}

.header {
  width: 30%;
  position: absolute;
  top: 25%;
  left: 5%;
}

section.top {
  background-color: #B4BDCB;
  background-image: url(images/Infinity.png);
  background-repeat: no-repeat;
  background-position: 1em 1em;
  height: 660px;
  width: 100%;
}

.top h2 {
  font-weight: normal;
  font-size: 59px;
  line-height: 1.2em;
  text-transform: capitalize;
  margin-bottom: 20%;
}

section.science {
  background-color: #C9A3A4;
  background-image: url(images/science.png);
}

section.approach {
  background-color: #A7CEEF;
  background-image: url(images/approach.png);

}

section.applications {
  background-color:#ACB5AC;
  background-image: url(images/brain.png);
 
}

.science, .approach, .applications {
  padding-top: 180px;
  background-repeat: no-repeat;
  background-position: center 80%;
  float: left;
  height: 420px;
  width: 33.33%;
}

.science li, .approach li, .applications li {
}

section.reach_out {
  clear: left;
  height: 982px;
  background-image: url(images/Rectangle.png);
  background-repeat: no-repeat;
  background-size: contain;
}

section h5 {
  display: block;
  width: 60%;
  margin: -170px auto;
  padding-bottom: 20px;
  font-size: 41px;
  font-weight: normal;
  border-bottom: 2px solid #FFF;
}
