/* reset browser styles */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.2;
}
ol {
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end reset browser styles */

body {
  color: #fff;
  font-family: Roboto;
}

h2 {
  width: 30%;
  font-weight: normal;
  font-size: 48px;
  text-transform: capitalize;
  padding: 10% 0 10% 5%;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
  text-transform: uppercase;
  padding-right: 1.3em;
  background-image: url(images/Vector.png);
  background-repeat: no-repeat;
  background-position: right 20%;
  cursor: pointer;
}

ul.navTop a,
ul.navBottom a {
  background-image: none;
  line-height: 20px;
  padding: 5px 0;
}

a:hover {
  border-bottom: 1px solid #fff;
  -webkit-transform: translate(1px, -2px);
  transform: translate(1px, -2px);
}

ul.navBottom a:hover {
  border-bottom: 1px solid#858585;
}

ul.navTop {
  text-align: right;
}

div.top > div {
  display: inline-block;
  margin: 0 0 2em 5%;
  border-top: 2px solid #fff;
  padding-top: 2em;
}

ul.navTop,
ul.navBottom {
  list-style: none;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 1em;
}

ul.navTop {
  position: absolute;
  top: 1em;
  right: 1em;
}

.top,
.middle,
.bottom,
footer {
  max-width: 1400px;
  margin: 0 auto;
}

div.top {
  position: relative;
  background-color: #b4bdcb;
  background-image: url(images/Infinity.png), url(images/BackgroundImg.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 5% 2em, center center;
  background-size: 4%, contain;
}

div.top div > a:first-of-type {
  margin-right: 1.5em;
}

.middle {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.middle section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 30em;
}

.middle .science {
  background-color: #c9a3a4;
  background-image: url(images/science.png);
  order: 0;
}

.middle .approach {
  background-color: #a7ceef;
  background-image: url(images/approach.png);
  order: 1;
}

.middle .applications {
  background-color: #acb5ac;
  background-image: url(images/brain.png);
  order: 2;
}

div.middle h5,
div.bottom h5 {
  font-size: 2em;
  font-weight: normal;
  border-bottom: 2px solid #fff;
  text-transform: capitalize;
  padding-bottom: 0.5em;
}

div.middle h5 {
  width: 80%;
  margin: 0.5em auto;
}

div.bottom h5 {
  width: 25%;
  padding-top: 0.5em;
  margin: 0 0 0.5em 5%;
  text-align: left;
}

div.middle section a {
  margin: 1.5em 10%;
  width: max-content;
}

.science,
.approach,
.applications {
  background-repeat: no-repeat;
  background-size: 60% 60%;
  background-position: 50% 50%;
}

.science {
  background-size: 40% 60%;
}

div.bottom {
  clear: left;
  background-image: url(images/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
}

div.bottom p {
  width: 25%;
  font-size: 18px;
  margin-left: 5%;
  margin-bottom: 18%;
  line-height: 24px;
}

div.bottom a {
  margin: 0 0 1.5em 5%;
}

footer {
  background-color: #e5e5e5;
  color: #858585;
  background-image: url(images/logoFooter.png);
  background-repeat: no-repeat;
  background-position: 5% 2em;
  text-transform: uppercase;
  line-height: 20px;
}

div.copyright,
ul.navBottom,
div.email {
  display: inline-block;
  margin-left: 15%;
  vertical-align: middle;
}

ul.navBottom,
div.email {
  margin-top: 2em;
}

div.email input {
  width: 100%;
  padding: 3em 3em 0.5em 0.1em;
  border: none;
  border-bottom: 1px solid #858585;
  background-color: #e5e5e5;
  background-image: url(images/arrowGrey.png);
  background-repeat: no-repeat;
  background-position: right 78%;
  color: #bbbfbf;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 100%;
  line-height: 16.41px;
}

ul.navBottom a {
  color: #858585;
}
